body {
    font-family: 'Roboto', sans-serif;

}

h1 {
    font-size: 50px;
}

#spn {
    color: orange;
}

section {
    display: flex;
    margin-bottom: 200px;
}

.half-width {
    width: 50%;
    padding-left: 5%;
    margin-right: 10%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(skyblue, aqua);
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 400;
}

.top-banner {
    background-image: url(bgimgs/top-banner.png);
    background-repeat: no-repeat;
}

.midd-banner {
    background-image: url(bgimgs/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 50px;
}